---
import config from '@config';
const bconfig = config.buttons;
---

<div class="gap-config flex flex-col">
  <div class="gap-config flex justify-center">
    {
      bconfig.buttons.slice(0, 6).map((button) => (
        <a
          class="bg-dark hover:bg-accent flex h-35 w-45 items-center justify-center rounded-md p-4 shadow-xl transition-all duration-200 ease-in-out hover:-translate-y-[3px] hover:text-base"
          href={button.href}
          title={button.name}
        >
          <i data-lucide={button.icon} class="size-8" />
        </a>
      ))
    }
  </div>
  {
    bconfig.buttons[6] && (
      /* Only renders if there are 6 or more buttons */
      <div class="gap-config flex justify-center">
        {bconfig.buttons.slice(6, 12).map((button) => (
          <a
            class="bg-dark hover:bg-accent flex h-35 w-45 items-center justify-center rounded-md p-4 shadow-xl transition-all duration-200 ease-in-out hover:-translate-y-[3px] hover:text-base"
            href={button.href}
            title={button.name}
          >
            <i data-lucide={button.icon} class="size-8" />
          </a>
        ))}
      </div>
    )
  }
</div>

<style define:vars={{ gapSize: `${bconfig.gap}rem` }}>
  .gap-config {
    gap: calc(var(--gapSize) / 4);
  }
</style>

<script>
  // Render lucide icons
  import { createIcons, icons } from 'lucide';
  createIcons({ icons });
</script>
